<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>372570835993-j6qa678ofuvcgeiklsenepuqa90bjsmq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.372570835993-j6qa678ofuvcgeiklsenepuqa90bjsmq</string>
	<key>API_KEY</key>
	<string>AIzaSyDvkJ5GHOXdZ3ESM-0zoMvs2SCCUKQh96I</string>
	<key>GCM_SENDER_ID</key>
	<string>372570835993</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterMaps</string>
	<key>PROJECT_ID</key>
	<string>fluttermaps-1a9eb</string>
	<key>STORAGE_BUCKET</key>
	<string>fluttermaps-1a9eb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:372570835993:ios:9ddcf4df84d3333ffa2e88</string>
	<key>DATABASE_URL</key>
	<string>https://fluttermaps-1a9eb.firebaseio.com</string>
</dict>
</plist>